作業目標:<br>
1. 運用索引找出需要資料<br>
2. 合併資料的分法應用

作業重點:<br>
1. 分辨索引loc、iloc差別
2. 分辨合併資料方法的不同，因應不同情況使用Merge, join, concatenate

題目:<br>
讀取STOCK_DAY_0050_202009.csv串聯STOCK_DAY_0050_202010.csv，並且找出open小於close的資料

In [1]:
import pandas as pd

In [2]:
#讀取STOCK_DAY_0050_202009.csv、STOCK_DAY_0050_202010.csv
stock1 = pd.read_csv('STOCK_DAY_0050_202009.csv')
stock2 = pd.read_csv('STOCK_DAY_0050_202010.csv')

In [5]:
#串聯
stock_data = pd.concat([stock1,stock2])
stock_data.head()

        date    open    high     low   close
0  109/09/01  102.45  103.35  101.85  103.35
1  109/09/02  103.65  104.05  102.30  103.00
2  109/09/03  103.70  104.30  103.20  103.30
3  109/09/04  102.00  102.70  101.90  102.55
4  109/09/07  102.55  103.05  101.90  102.40

In [6]:
#找出open小於close的資料
ans=stock_data[stock_data.open<stock_data.close]
ans.head()

        date    open    high     low   close
0  109/09/01  102.45  103.35  101.85  103.35
3  109/09/04  102.00  102.70  101.90  102.55
5  109/09/08  102.75  103.10  102.45  103.00
6  109/09/09  101.75  102.35  101.15  102.30
7  109/09/10  102.80  103.35  102.60  103.20