作業
在鐵達尼資料集中，今天我們專注觀察變數之間的相關性，以Titanic_train.csv 中，首先將有遺失值的數值刪除，並回答下列問題。

Q1: 透過數值法計算 Age 和 Survived 是否有相關性?
Q2:透過數值法計算 Sex 和 Survived 是否有相關性?
Q3: 透過數值法計算 Age 和 Fare 是否有相關性?
提示:
1.產稱一個新的變數 Survived_cate ，資料型態傳換成類別型態
2.把題目中的 Survived 用 Survived_cate 來做分析
3.首先觀察一下這些變數的資料型態後，再來想要以哪一種判斷倆倆的相關性。

In [45]:
# import library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display

import pingouin as pg
import researchpy   
%matplotlib inline

## 讀入資料

In [46]:
df_train = pd.read_csv("Titanic_train.csv")
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [47]:
## 這邊我們做一個調整，把 Survived 變成離散型變數 Survived_cate
print(df_train['Survived'])

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

### Q1: 透過數值法計算 Age 和 Survived 是否有相關性?

In [48]:
#Age和Survived都是連續vs離散型資料
#-->用eta2

#stet1:資料清理(把空值剔除):使用dropna，並且複製一份給新變數，避免動到原資料
data_dropna=df_train.dropna(subset=['Age','Survived'],inplace=False).copy()
data_dropna.info()
#使用pg.anova計算SS
import pingouin as pg
aov=pg.anova(dv='Age',between='Survived',data=data_dropna[['Age','Survived']],detailed=True)
print(aov)
eta2=aov.SS[0]/(aov.SS[0]+aov.SS[1])
print(eta2)
print('\nANS:幾乎可忽略')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  714 non-null    int64
 1   Survived     714 non-null    int64
 2   Pclass       714 non-null    int64
 3   Name         714 non-null    object
 4   Sex          714 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        714 non-null    int64
 7   Parch        714 non-null    int64
 8   Ticket       714 non-null    object
 9   Fare         714 non-null    float64
 10  Cabin        185 non-null    object
 11  Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 72.5+ KB
     Source             SS   DF          MS         F     p-unc       np2
0  Survived     897.187582    1  897.187582  4.271195  0.039125  0.005963
1    Within  149559.448362  712  210.055405       NaN       NaN       NaN
0.0059630974469252

ANS:幾乎可忽略

### Q2:透過數值法計算 Sex 和 Survived 是否有相關性?

In [49]:
#stet1:資料清理(把空值剔除):使用dropna+把sex轉成數字形式，並且複製一份給新變數，避免動到原資料

#清除空值
data_dropna=df_train.dropna(subset=['Sex','Survived'],inplace=False).copy()
##將Sex由字串轉成數字形式
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
data_dropna['Sex']=labelencoder.fit_transform(data_dropna['Sex'])
# print(data_dropna['Sex'])
#step2:離散vs離散-->使用Cramer's V
conTable=pd.crosstab(data_dropna['Sex'],data_dropna['Survived'])
print(conTable)
#計算df
df=min(conTable.shape[0],conTable.shape[1])-1
print(df)

crosstab,res=researchpy.crosstab(data_dropna['Sex'],data_dropna['Survived'],test='chi-square')

print(crosstab)
print(res)
print("Cramer's value=",res.loc[2,'results'])
print('\nANS:高度相關')

Survived    0    1
Sex
0          81  233
1         468  109
1
         Survived
Survived        0    1  All
Sex
0              81  233  314
1             468  109  577
All           549  342  891
                Chi-square test   results
0  Pearson Chi-square ( 1.0) =   263.0506
1                    p-value =     0.0000
2               Cramer's phi =     0.5434
Cramer's value= 0.5434

ANS:高度相關

### Q3: 透過數值法計算 Age 和 Fare 是否有相關性?

In [50]:
data_dropna=df_train.dropna(subset=['Age','Fare'],inplace=False).copy()
corr,p_value=stats.pearsonr(data_dropna['Age'],data_dropna['Fare'])
print('-'*50)
print('Corr=',corr)
print('P-value=',p_value)
print('\nANS:沒有相關性')

--------------------------------------------------
Corr= 0.0960666917690389
P-value= 0.010216277504442105

ANS:沒有相關性